<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="p-3 mb-2" style="background-color: #212529; color: white">
            <div class="row">
                <div class="col-md-11">
                    <h5 class="text-start">
                        <medium th:text="${currentUser.getUsername()}">admin</medium>
                        with roles:
                        <th:block th:each="role : ${currentUser.getRoles()}">
                            <span th:if="(${role.getName()} == 'ROLE_ADMIN')" th:utext="ADMIN"></span>
                            <span th:if="(${role.getName()} == 'ROLE_USER')" th:utext="USER"></span>
                        </th:block>
                    </h5>
                </div>
                <div class="col-md-1">
                    <form th:action="@{/logout}" th:method="POST">
                        <button type="submit" class="btn" style="background-color: #212529; color: white">Logout
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-user-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-user" type="button" role="tab" aria-controls="v-pills-user"
                        aria-selected="true">
                    User
                </button>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <div class="p-3 mb-2" style="color: black">
                        <h1>
                            User information page
                        </h1>
                    </div>
                    <div class="p-3 mb-2" style="background-color: #e9ecef; color: black">
                        <h4><strong>About User</strong></h4>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th th:text="${currentUser.getId()}">ID</th>
                            <td th:text="${currentUser.getUsername()}">Username</td>
                            <td th:text="${currentUser.getName()}">Name</td>
                            <td th:text="${currentUser.getSurname()}">Surname</td>
                            <td th:text="${currentUser.getAge()}">Age</td>
                            <td th:text="${currentUser.getEmail()}">E-mail</td>
                            <td>
                                <th:block th:each="role: ${currentUser.getRoles()}">
                                    <span th:if="(${role.getName()} == 'ROLE_ADMIN')" th:utext="ADMIN"></span>
                                    <span th:if="(${role.getName()} == 'ROLE_USER')" th:utext="USER"></span>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>